.Editor {
    text-align: left;
    padding-left: 30px;
}
.editor_btn {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}
.emotion_list {
    display: flex;
    gap: 2%;
    justify-content:  space-around;
}