.App {
  text-align: center;
}

h2 {
  height: 70px;
  line-height: 70px;
  background-color: rgb(13, 51, 74);
  color: white;
}

.list {
  text-align: left;
  padding-left: 50px;
  border-bottom: 1px solid rgb(82, 108, 124);
}

span {
  margin-left: 30px;
  margin-right: 15px;
  cursor:pointer;
}

.modal {
  text-align: left;
  margin-top: 20px;
  background-color: rgb(147, 177, 196);
  padding: 5px 50px;
}
.update {
  text-align: center;
}
button {
  border : none;
  padding: 5px 10px;
  border-radius: 5px;
}